body {
    background-color: lightblue;
}

#search-options {
    background-color: cornsilk;
    text-align: center;
}

#all-procedures-container {
    background-color: cornsilk;
    text-align: center;
}

#selected-procedure {
    background-color: cornsilk;
}

h1 {
    border-radius: 44px;
    background: #FFF8DC;
    box-shadow: -7px 7px 7px #e3ddc4,
        7px -7px 7px #fffff4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Adjust if needed */
    text-align: center;
}

.logo {
    width: 100px;
    height: auto;
}